<div class='d-flex justify-content-center'><h1 class='my-participations-h1'>My participations</h1></div>
<div class="contact-area">
<% @participations.each do |participation| %>
<div class="contact-area">
  <div class="contact">
    <main>
      <section>
        <div class="content">

          <aside>
            <h1><%= participation.quest.title %></h1>
            <p><%= participation.quest.description %></p>
          </aside>
          <a id='details' style="color:white; text-align:center" class = 'more'>More Details</a>
            <div class='text-white' id='more'>
              <h4>Address</h4>
              <p><%= participation.quest.address %></p>
              <h4>Date</h4>
              <p><%= participation.quest.begin_on %></p>
              <h4>People expected</h4>
              <p><%= participation.quest.people_wanted %></p>
              <h4>Progress</h4>
              <p><%= participation.quest.progress %></p>
            </div>

          <button>
            <span>Actions</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"> <g class="nc-icon-wrapper" fill="#444444"> <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"></path> </g> </svg>
          </button>
        </div>

        <div class="title"><p>details</p></div>
      </section>


    </main>

    <div class="links">
      <% if participation.quest.progress == 'Finished' %>
      <p></p>
      <% else %>
      <nav>
          <%= link_to  'Cancel participation', questmaster_quest_path(participation), method: :delete, class: 'card-elements', data: { confirm: "Are you sure?" } %>
      </nav>
      <% end %>
    </div>
  </div>
  </div>
<% end %>


<%# @participations.each do |participation| %>
  <%# if participation.quest_id == participation.id %>
    <%#= link_to 'Review participations',  new_questmaster_quest_participation_review_path(participation, participation),class: 'validation' %>
  <%# end %>
<%# end %>
