<div class="wrapper">
  <div class="content">
 <div class="top" style="background-image: url('https://mymodernmet.com/wp/wp-content/uploads/2018/01/earth-brian-kirhagis-1.jpg')"></div>
    <div class="bottom">
      <div class="left">
        <div class="details">
          <h5><%= quest.title %></h6>
          <p><%= quest.category.name %></p>
        </div>
        <%= link_to quests_path do %>
        <div class="d-flex justify-content-center align-items-center quest-info">
            <i class="fas fa-seedling"></i>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="inside">
    <%= link_to quests_path, class:"icon" do %>
      <i class="fas fa-stream"></i>
    <% end %>
    <div class="contents">
      <table>
        <tr>
          <th>Mode</th>
          <th>Xp</th>
        </tr>
        <tr>
          <td><%= quest.mode %></td>
          <td><%= quest.category.xp %></td>
        </tr>
        <tr>
          <th>Address</th>
          <th><%= link_to "Full details", quest_path(quest), class:"btn btn-info" %></th>
        </tr>
        <tr>
          <td><%= quest.address %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
