<div class="wrapper">
  <div class="content">
 <div class="top" style="background-color: #91fb93">
   <h4><%= quest.title %></h4>
   <p><%= quest.begin_on.strftime("%d/%m/%Y") %></p>
   <p><%= quest.duration %></p>
 </div>
    <div class="bottom">
      <div class="left">
        <div class="details d-flex align-items-center justify-content-center pt-3">
          <h5 class="text-center"><%= quest.category.name %></h5>
        </div>
        <%= link_to quest_path(quest), method: :get do %>
          <div class="d-flex justify-content-center align-items-center quest-info">
              <i class="fas fa-seedling"></i>
          </div>
        <% end %>
      </div>
    </div>
</div>
