<div class="page-pog">
  <div class ="container" id="chatroom-page">
    <div class ="row">
      <div class = "col-sm-6 col-sm-offset-3" id="chatroom-box">
        <div class = "chat-header"> <h4>#<%= @chat_room.name %></h4></div>
        <div id=<%= @chat_room.id %> class ="messages">
          <% @chat_room.messages.each do |message| %>
            <%= render "shared/messages", message: message %>
          <% end %>
        </div>
        <div id= "create-message">
          <%= simple_form_for :message, url: questmaster_quest_chat_room_messages_path(@quest, @chat_room), method: :post,remote: true do |f| %>
            <%= f.input :content, label: false %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
