<div class="page-pog px-4">
  <h1 class="text-center long-title">Resend confirmation instructions</h1>
  <div class="d-flex flex-column align-items-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 form">
      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :confirmation_token %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: false,
                      placeholder: "Email",
                      value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions d-flex justify-content-center">
          <%= f.button :submit, "Get instructions", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mb-4">
    <%= render "devise/shared/links" %>
  </div>
</div>
