<div class="row nav-space"></div>
<p>(Données brutes - mise en forme plus tard cf. refonte design)</p>
<h1>Reviews I got for <%= @quest.title %></h1>

<% if @participations.any? { |participation| participation.quest_review != nil } %>
  <% @participations.each do |participation| %>
    <% if participation.quest_review != nil %>
      <p>From: <%= participation.user.username %></p>
      <p>Sent on: <%= participation.quest_review.created_at.strftime("%d/%m/%Y") %></p>
      <% participation.quest_review.rating.times do  %>
        <%= image_tag('rating-color.png') %>
      <% end %>
      <% participation.quest_review.blank_stars.times do %>
        <%= image_tag('rating-color.png', id:"blank_star") %>
      <% end %>
      <p>Comment:</p>
      <%= participation.quest_review.content %>
    <% end %>
  <% end %>
<% else %>
  <p>No review yet</p>
<% end %>
<div class="row footer-space"></div>
