<div class="page-pog">
  <h1 class="text-center px-2">Reviews for <%= @quest.title %></h1>
  <% if @participations.any? { |participation| participation.quest_review != nil } %>
    <% @participations.each do |participation| %>
    <div class="contact-area">
      <div class="contact">
        <main>
          <section>
            <div class="content">
              <aside>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <% if participation.quest_review != nil %>
                      <p class="mb-0">From</p>
                      <h2><%= participation.user.username %></h2>
                      <p class="mb-5">On <%= participation.quest_review.created_at.strftime("%d/%m/%Y") %></p>
                      <div>
                        <% participation.quest_review.rating.times do  %>
                          <%= image_tag('star-plain.png', class:"rating_ico") %>
                        <% end %>
                        <% participation.quest_review.blank_stars.times do %>
                          <%= image_tag('star-blank.png', id:"blank_star", class:"rating_ico") %>
                        <% end %>
                      </div>
                      <p class="font-italic">
                        " <%= participation.quest_review.content %> "
                        </p>
                    <% else %>
                      <p>No review yet</p>
                    <% end %>
                  </div>
                </aside>
              </div>
            </section>
          </main>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
