<div class="row nav-space"></div>
<p>(Données brutes - mise en forme plus tard cf. refonte design)</p>
<h1>Your review of <%= @participation.user.username %></h1>
<% if @review.created_at == @review.updated_at %>
  <p>Created on <%= @review.created_at.strftime("%d/%m/%Y") %></p>
<% else %>
  <p>Last updated on <%= @review.updated_at.strftime("%d/%m/%Y") %></p>
<% end %>
<% @participation.user_review.rating.times do  %>
  <%= image_tag('rating-color.png') %>
<% end %>
<% @participation.user_review.blank_stars.times do %>
  <%= image_tag('rating-color.png', id:"blank_star") %>
<% end %>
<p>Comment:</p>
<%= @review.content %>
<div class="row footer-space"></div>
