<div class="page-pog px-4">
  <h1 class="text-center long-title">Edit my account</h1>
  <div class="d-flex flex-column align-items-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

          <div class="form-inputs">
              <%= f.input :username,
                          label: false,
                          placeholder: "Username" %>
              <%= f.input :first_name,
                          label: false,
                          placeholder: "First name" %>
              <%= f.input :last_name,
                          label: false,
                          placeholder: "Last name" %>
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          label: false,
                          placeholder: "Email",
                          input_html: { autocomplete: "email" }%>
              <%= f.input :role, collection: ["Individual", "Entity"] %>
              <%= f.input :telephone,
                          label: false,
                          placeholder: "Phone number" %>
              <div class="d-flex">
                <%= f.input :photo, label: "Choose your avatar:", collection: Avatar.all.map { |avatar| [image_tag(avatar.image), Avatar.find(avatar.id).image] },
               as: :radio_buttons,
               item_wrapper_class: "d-inline" %>
             </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      label: false,
                      placeholder: "Current password",
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      label: false,
                      placeholder: "New password",
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      label: false,
                      placeholder: "Confirm new password",
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions d-flex justify-content-center">
          <%= f.button :submit, "Update", class:"btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="text-center mt-5">
    <h3>Cancel my account</h3>

    <p>Unhappy?</p>
    <%= link_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
  </div>

  <div class="text-center my-4">
    <%= link_to "Back", :back, class:"text-danger" %>
  </div>
</div>
