<div class="page-pog">
  <div class="d-flex flex-column align-items-center" id="qm-participations-wrapper">
    <h1 class="px-3 pb-5 text-center">Participants for "<%= @quest.title %>"</h1>
    <div id="qm-participations-container">
      <% @participations.each do |participation| %>
        <div class="col-12 p-3 qm-participations-card mb-5">
          <div class="d-flex justify-content-between align-items-center pr-4">
            <%= image_tag(participation.user.photo, class:"avatar-card") %>
            <h3><%= participation.user.username %></h3>
          </div>
          <hr>
          <% if participation.user_review_id.nil? %>
            <div class="row d-flex align-items-center justify-content-center p-2 mt-5">
              <div class="col-5">
                <h5 class="mb-2">Phone #:</h5>
              </div>
              <div class="col-7">
                <p class="pb-0 mb-0">
                  <% if participation.user.telephone %>
                    <%= participation.user.telephone %>
                  <% else %>
                    <p class="font-italic">Not provided</p>
                  <% end %>
                </p>
              </div>
            </div>
          <% else %>
            <div class="d-flex justify-content-center" id="user-participation-review">
              <div class="d-flex align-items-center">
                <div class = "align-content-center">
                  <div class = "d-flex justify-content-end qm-review-card-participation">
                    <% if participation.user_review.editable? %>
                      <%= link_to edit_questmaster_quest_participation_review_path(participation.quest, participation, participation.user_review) do%>
                        <i class="fas fa-pencil-alt"></i>
                      <% end %>
                    <% end %>
                  </div>
                  <div class = "d-flex justify-content-center mb-2">
                    <% participation.user_review.rating.times do  %>
                      <%= image_tag('star-plain.png', class:"rating_ico") %>
                    <% end %>
                    <% participation.user_review.blank_stars.times do %>
                      <%= image_tag('star-blank.png', id:"blank_star", class:"rating_ico") %>
                    <% end %>
                  </div>
                  <div class = "d-flex justify-content-center mb-2 review-content">
                    <%= participation.user_review.content %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
