<div class="navbar navbar-pog fixed-top">
  <% if user_signed_in? %>
    <div class="navbar-main d-flex justify-content-between">
      <div class="d-flex align-items-center player-info flex-column align-self-end">
        <%= image_tag("reward.png", size: "24x24", class:"mr-1") %>
        <h3>LVL <%= current_user.level %></h3>
      </div>
      <div class="navbar-logo">
        <%= link_to quests_path, class: "navbar-brand" do %>
        <div id="logo-letters-ico">
        <h1 class="POG-navbar">P</h1>
        <%= image_tag('logo-pog.png', id:"logo-navbar") %>
        <h1 class="POG-navbar">G</h1>
        </div>
        <% end %>
      </div>
      <div class="d-flex flex-column align-self-end player-info align-items-center">
        <%= image_tag("gamepad.png", size: "24x24", class:"mr-1") %>
        <h3><%= current_user.xp %> XP</h3>
      </div>
    </div>
  <% else %>
    <div class="navbar-main d-flex justify-content-center">
      <div class="navbar-logo">
        <%= link_to quests_path, class: "navbar-brand" do %>
        <div id="logo-letters-ico">
        <h1 class="POG-navbar">P</h1>
        <%= image_tag('logo-pog.png', id:"logo-navbar") %>
        <h1 class="POG-navbar">G</h1>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
