<div class="navbar navbar-expand-sm navbar-light navbar-pog">
    <div class="navbar-main">
      <div class="navbar-logo">
        <div id="logo">
          <%= link_to quests_path, class: "navbar-brand" do %>
          <h1><span>P</span><%= image_tag "https://i.ibb.co/9401565/1.png" %><span>G</span></h1>
          <% end %>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="menu">
      <ul class="menu-links">
        <% if user_signed_in? %>
          <li><%= link_to "Profil", "#" %></li>
          <li><%= link_to "My Participations", participations_path %></li>
          <li><%= link_to "My Quests", questmaster_quests_path %></li>
          <li><%= link_to "Who we are", "#" %></li>
          <li><%= link_to "How it works", "#" %></li>
        <% else %>
          <li><%= link_to "Who we are", "#" %></li>
          <li><%= link_to "How it works", "#" %></li>
        <% end %>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <%= link_to "Username", "#", class: "nav-link" %>
              <%= link_to "Home", "#", class: "nav-link", class: "nav-item active"%>
              <%= link_to "My profil", "#", class: "dropdown-item" %>
              <%= link_to "My participations", participations_path, class: "dropdown-item" %>
              <%= link_to "My quest", questmaster_quests_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
