<div class='d-flex justify-content-center'><h1 class=''>My Quests</h1></div>
<div class="contact-area">
<% @quests.each do |quest| %>
<div class="contact-area">
  <div class="contact">
    <main>
      <section>
        <div class="content">

          <aside>
            <h1><%= quest.title %></h1>
            <p><%= quest.description %></p>
          </aside>

          <button>
            <span>Actions</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"> <g class="nc-icon-wrapper" fill="#444444"> <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"></path> </g> </svg>
          </button>
        </div>

        <div class="title"><p>details</p></div>
      </section>


    </main>

    <div class="links">
      <nav>
          <%= link_to 'Edit' ,  edit_questmaster_quest_path(quest), class: 'card-elements' %>
      </nav>
      <nav>
          <%= link_to  'Delete', questmaster_quest_path(quest), method: :delete, class: 'card-elements', data: { confirm: "Are you sure?" } %>
      </nav>
      <nav>
          <%= link_to 'Mark as over' ,  questmaster_quest_path(quest, quest: { progress: "Finished"}), method: :patch, class: 'card-elements' %>
      </nav>
      <nav>
        <div class="modal-container">
          <a class="modal-button" href="#popup">Review participations</a>
          <div class="popup" id="popup">
            <div class="popup-inner">
              <div class="popup__text">
                <h3>Review for "<%= quest.title %>"</h3>
                <div class="row rating-global">
                  <div class="col-2" id="1-star-global">
                      <%= image_tag('rating-color.png', class: "rating-ico") %>
                  </div>
                  <div class="col-2" id="2-stars-global">
                      <%= image_tag('rating-color.png', class: "rating-ico") %>
                  </div>
                  <div class="col-2" id="3-stars-global">
                      <%= image_tag('rating-color.png', class: "rating-ico") %>
                  </div>
                  <div class="col-2" id="4-stars-global">
                      <%= image_tag('rating-color.png', class: "rating-ico") %>
                  </div>
                  <div class="col-2" id="5-stars-global">
                      <%= image_tag('rating-color.png', class: "rating-ico") %>
                  </div>
                </div>
                <p>Ici, le commentaire</p>
              </div>
              <div class="popup__close" href="#">X</div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  </div>
<% end %>


<%# @participations.each do |participation| %>
  <%# if participation.quest_id == quest.id %>
    <%#= link_to 'Review participations',  new_questmaster_quest_participation_review_path(quest, participation),class: 'validation' %>
  <%# end %>
<%# end %>
