<div class='d-flex justify-content-center'><h1 class=''>My Quests</h1></div>
<div class="contact-area">
<% @quests.each do |quest| %>
<div class="contact-area">
  <div class="contact">
    <main>
      <section>
        <div class="content">

          <aside>
            <h1><%= quest.title %></h1>
            <p><%= quest.description %></p>
          </aside>
            <a id='details' style="color:white; text-align:center" class = 'more'>More Details</a>
            <div class='text-white' id='more'>
              <h4>Address</h4>
              <p><%= quest.address %></p>
              <h4>Date</h4>
              <p><%= quest.begin_on %></p>
              <h4>People expected</h4>
              <p><%= quest.people_wanted %></p>
              <h4>Progress</h4>
              <p><%= quest.progress %></p>
            </div>

          <button>
            <span>Actions</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"> <g class="nc-icon-wrapper" fill="#444444"> <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"></path> </g> </svg>
          </button>
        </div>

        <div class="title"><p>details</p></div>
      </section>


    </main>

    <div class="links">
      <nav>
          <%= link_to 'Edit' ,  edit_questmaster_quest_path(quest),class: 'validation' %>
      </nav>
      <nav>
          <%= link_to  'Delete', questmaster_quest_path(quest), method: :delete, class: 'validation', data: { confirm: "Are you sure?" } %>
      </nav>
      <nav>
          <%= link_to 'Mark as over' ,  questmaster_quest_path(quest, quest: { progress: "Accepted"}), method: :patch, class: 'validation' %>
      </nav>
      <nav>
        <% @participations.each do |participation| %>
          <% if participation.quest_id = quest.id %>
              <%= link_to 'Review as participant' ,  new_questmaster_quest_participation_review_path(quest, participation),class: 'validation' %>
            <% else %>
              <%= link_to 'Review as questmaster' ,  new_questmaster_quest_participation_review_path(quest, participation),class: 'validation' %>
          <% end %>
        <% end %>
      </nav>
    </div>
  </div>
  </div>
  <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<% end %>

