<div class="wrapper-page-content">
  <h2 class="text-center mt-3">Create your quest</h2>
  <div class="d-flex flex-column align-items-center">
    <div class="col-12 col-md-4 p-3 form">
      <%= simple_form_for(@quest, url: questmaster_quests_path, method: :post) do |f| %>
        <div class="form-inputs">
          <%= f.input :title %>
          <%= f.association :category %>
          <%= f.input :mode, collection: ["Solo", "Group"] %>
          <%= f.input :people_wanted %>
          <%= f.input :description, hint: "200 characters max." %>
          <%= f.input :address, { id: "quest_address" } %>
          <%= f.input :begin_on, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :duration %>
        </div>

        <div class="form-actions d-flex justify-content-center">
          <%= f.button :submit, "Create quest", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="my-4">
      <%= link_to "Back to map", quests_path %>
    </div>
  </div>
</div>
<!-- Multiplayer plutôt que Group ? Si oui, Penser à rails db:drop etc. -->
<!-- Sinon la fonction de filtre marchera pas bien -->
