<div class="page-pog page-qm">
  <div id="qm-quests-show">
    <h1 class="text-center mt-5 px-5"><%= @quest.title %></h1>
    <p class="text-center mb-4">- <%= @quest.progress %> -</p>
    <div class="d-flex justify-content-center">
      <% if @quest.progress != "Finished" && @quest.progress != "Cancelled" %>
        <%= link_to edit_questmaster_quest_path(@quest), class:"pr-3", id:"ico-pencil-show-qm-quest" do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to questmaster_quest_path(@quest, quest: { progress: "Cancelled"}), method: :patch, data: { confirm: "Are you sure?" }, class:"pl-3", id:"ico-trash-show-qm-quest" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
    <div id="show-quest-qm">
      <div class="row show-quest-qm-title">
        <div class="col">
          <h3 class="text-center">Main goal</h3>
        </div>
      </div>
      <div class="show-quest-qm-content pt-4">
        <div class="row d-flex align-items-center">
          <div class="col-3">
            <h5>Cause:</h5>
          </div>
          <div class="col-9">
            <p><%= @quest.category.name %></p>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col">
            <h5>Help requested:</h5>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col">
            <p class="font-italic text-center">" <%= @quest.description %> "</p>
          </div>
        </div>
      </div>

      <div class="row show-quest-qm-title">
        <div class="col">
          <h3 class="text-center">Practical info</h3>
        </div>
      </div>
      <div class="show-quest-qm-content pt-4">
        <div class="row d-flex align-items-center">
          <div class="col mb-3" id="show-quest-qm-content-date">
            <p class="text-center"><i class="fas fa-calendar-alt"></i> <%= @quest.begin_on.strftime("%d/%m/%Y") %></p>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col">
            <h5>Location:</h5>
          </div>
        </div>
        <div class="row d-flex align-items-center mb-3">
          <div class="col">
            <p><%= @quest.address %></p>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-5">
            <h5>Duration:</h5>
          </div>
          <div class="col-7">
            <p><%= @quest.duration %></p>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-2">
            <h5><i class="fas fa-user"></i></h5>
          </div>
          <div class="col-10">
            <p>
              <%= @quest.participations.count %> / <%= @quest.people_wanted %>
              <% if @user_joined_quests != nil && @user_joined_quests.where(quest_id: @quest.id)%>
                (you joined)
              <% end %>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
