<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="images/png" href="https://ibb.co/p4GdCmk">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>People Of Gaïa</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <div class="container" id="app-structure">
      <% unless current_page?(root_path) %>
        <div class="row" id="navbar-pog">  <!-- Navbar -->
          <div class="col">
            <%= render 'shared/navbar' %>
          </div>
        </div>
      <% end %>
      <div class="row" id="app-content-around">  <!-- Pages -->
        <div class="col h-100">
          <%= render 'shared/flashes' %>
          <%= yield %>
        </div>
      </div>
      <% unless current_page?(root_path) %>
        <div class="row" id="footer-pog">  <!-- Footer -->
          <div class="col">
            <%= render 'shared/footer' %>
          </div>
        </div>
      <% end %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
